/**
 * 重置样式
 */

dl, dd {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

/**
 * 板块样式
 */

.sales {
    border: 1px solid #eee;
    width: 525px;
    padding: 20px;
}

.sales-header {
    font-size: 0;
}

.sales-header dl:first-child {
    margin-bottom: 6px;
}

.sales-header dt, .sales-header dd {
    font: 12px/25px 'Microsoft YaHei UI';
    display: inline;
}

/* 仅对 a 标签使用 margin、padding 样式
 * 文字与 | 之间的 10px 全是由 a  标签决定的
 * 因为父级的 font-size 是 0
 * | 两边是没空格的
 */
.sales-header dd a {
    display: inline-block;
    margin: 0 5px;
    padding: 0 5px;
}

.sales-header dd.active a, .sales-header dd:hover a {
    background: #45a4fc;
    color: #ffffff;
}

.sales-body {
    margin-top: 20px;
    border-top: 1px solid #eeeeee;
    padding-top: 30px;
    font-size: 0;
}

.sales-body .sales-item {
    display: inline-block;
    width: 155px;
    font: 12px/21px 'Microsoft YaHei UI';
    text-align: center;
}

.sales-body .sales-item:not(:last-child) {
    margin-right: 30px;
}

.sales-body .sales-item .value {
    display: block;
    color: red;
}

.sales-body .sales-item .btn {
    background: #0d76cf;
    padding: 10px 15px;
    display: inline-block;
    color: #ffffff;
    margin-top: 8px;
}