body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

a:hover {
    opacity: 0.85;
}