ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2, p {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    margin: 45px auto;
    background: #eee;
}

/* 清除浮动 */

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.channel {
    margin: 0 auto;
    background: #fff;

    width: 750px;
    padding: 15px;
}

/* 头部 */

.channel-header .img {
    margin-right: 20px;
}

.channel-header .img, .channel-header .viewpoint {
    float: left;
}

.channel-header .viewpoint {
    width: 390px;
}

.channel-header .viewpoint h2 {
    font: bold 25px/25px 'Microsoft YaHei UI';
}

.channel-header h2 a {
    display: block;
    color: #353535;
}

.channel-header h2 a:hover {
    color: #35b558;
}

.channel-header .viewpoint .desc {
    font: 14px/24px 'Microsoft YaHei UI';
    margin: 12px 0 24px 0;
    color: #8b8b8b;
    text-indent: 24px;
    width: 378px;
}

.channel-header .vote p {
    font: 12px/12px 'Microsoft YaHei UI';
    color: #8b8b8b;
}

.channel-header .vote .mark {
    color: #fc543d;
}

.channel-header .items span {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    font: 28px/60px 'Microsoft YaHei UI';
    text-align: center;
    margin-right: 24px;
}

.channel-header .items {
    padding-top: 13px;
    font-size: 0;
}

.channel-header .items .true {
    background: #35b558;
}

.channel-header .items .false {
    background: #e66e62;
}

.channel-header .items .answer {
    font: 16px/16px 'Microsoft YaHei UI';
    color: #8b8b8b;
    margin-top: 28px;
    float: right;
}

.channel-header .items .answer:hover {
    color: #35b558;
}

/* 内容列表区 */

.channel-body {
    padding-top: 16px;
}

.channel-body li a {
    display: inline-block;
    font: 16px/32px 'Microsoft YaHei UI';
    color: #353535;
}

.channel-body li.active a, .channel-body li a:hover {
    color: #35b558;
}

.channel-body li .read-num {
    float: right;
    font: 12px/32px 'Microsoft YaHei UI';
    color: #8b8b8b;
}

.channel-body .dot::after {
    display: inline-block;
    content: '●';
    color: #35b558;
    margin-right: 12px;
}