
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2, p {
    margin: 0;
}

a {
    text-decoration: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

body {
    margin: 0;
    background: #f3f3f3;
}

.channel {
    padding: 15px;
    width: 750px;
    background: #fff;
    margin: 45px auto;
}

.channel-header .img {
    float: left;
}

.channel-header img {
    vertical-align: middle;
}

.channel-header .viewpoint {
    width: 390px;
    float: right;
}

.channel-header h2 {
    font: bold 24px/24px 'Microsoft YaHei UI';
    margin-bottom: 12px;
}

.channel-header a {
    color: #000;
}

.channel-header a:hover {
    color: #35b558;
}

.channel-header .desc {
    font: 14px/24px 'Microsoft YaHei UI';
    color: #8b8b8b;
    text-indent: 20px;
    padding-right: 12px;
    margin-bottom: 24px;
}

.channel-header .join {
    font: 12px/12px 'Microsoft YaHei UI';
    color: #8b8b8b;
    margin-bottom: 14px;
}

.channel-header .join span {
    color: #e66e62;
}

.channel-header .true, .channel-header .false {
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    font: 28px/60px 'Microsoft YaHei UI';
    border-radius: 50%;
    color: #fff;
}

.channel-header .btn-group {
    font-size: 0;
}

.channel-header .true {
    background: #35b558;
    margin-right: 24px;
}

.channel-header .false {
    background: #e66e62;
}

.channel-header .answer {
    font: 15px/60px 'Microsoft YaHei UI';
    color: #8b8b8b;
    float: right;
}

.channel-list li {
    font: 17px/34px 'Microsoft YaHei UI';
    background: url(../../images/work1/dot_ico.gif) no-repeat 0 center;
    padding-left: 20px;
}

.channel-list a {
    color: #353535;
}

.channel-list a:hover, .channel-list .active a {
    color: #35b558;
}

.channel-list .read-num {
    float: right;
    font: 12px/32px 'Microsoft YaHei UI';
    color: #8b8b8b;
}