body, h2 {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background: #eee;
}

.wrap {
    background: #fff;
    width: 1178px;
    margin: 45px auto;
    padding: 0 11px 10px 8px;
}

.wrap h2 {
    font: 30px/100px 'Microsoft YaHei UI';
    text-align: center;
}

.recommends {
    position: relative;
    height: 467px;
}

.recommends a {
    position: absolute;
}

.recommends img {
    vertical-align: middle;
}

.recommends a .desc {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-indent: 20px;
    font: 14px/30px 'Microsoft YaHei UI';
}

.recommends .item-2 {
    left: 237px;
}

.recommends .item-3 {
    left: 474px;
}

.recommends .item-4 {
    left: 711px;
}

.recommends .item-5 {
    right: 0;
}

.recommends .item-6 {
    bottom: 0;
}

.recommends .item-7 {
    left: 474px;
    bottom: 0;
}

.recommends .item-8 {
    right: 0;
    bottom: 0;
}