/**
 * css reset
 */

ul {
    margin: 0;
    padding: 0;
}

.nav {
    width: 230px;
    border: 1px solid #eee;
    background: url(../../images/work1/nav_bg.png) no-repeat 10px 1px;
}

.nav-item a {
    font: 11px/40px 'Microsoft YaHei UI';
    text-decoration: none;
    color: #595959;
    display: block;
    padding-left: 50px;
    background: url(../../images/work1/right_arrow_ico.gif) no-repeat 200px 13px;
}

.nav-item a:hover, .nav-item a.active {
    color: #e45e60;
    background: url(../../images/work1/right_arrow_ico.gif) no-repeat 210px 13px;
}
