
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

body {
    margin: 0;
    background: #f3f3f3;
}

.scroll {
    width: 1032px;
    background: #fff;
    padding: 15px;
    margin: 45px auto;
}

.scroll h3 {
    font: bold 22px/22px 'Microsoft YaHei UI';
    color: #333;
    margin-bottom: 12px;
}

.prev, .next {
    width: 16px;
    height: 170px;
    float: left;
}

.prev {
    background: url(../../images/work2/prev_arrow.jpg) no-repeat center;
}

.next {
    background: url(../../images/work2/next_arrow.jpg) no-repeat center;
}

.slides {
    float: left;
    width: 1000px;
}

.slides li {
    width: 230px;
    height: 170px;
    float: left;
    margin: 0 10px;
    position: relative;
}

.slides li span {
    font: 12px/24px 'Microsoft YaHei UI';
    background: #4aca6d;
    padding: 0 10px 0;
    color: #fff;
    position: absolute;
}

.slides li a {
    font: 14px/18px 'Microsoft YaHei UI';
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 11px 10px 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}